<% OODClusters.each do |key, cluster| %>
    <div class="col-sm-6 col-xs-6">
      <%= link_to(cluster_path(key)) do %>
          <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4><strong><%= cluster.title %> Cluster Status</strong></h4>
            <%= render partial: 'node_status', locals: { showqer: MoabShowqClient.new(cluster).setup } %>
          </div>
      <% end %>
    </div>
<% end %>
