<div class="row">
<!-- node status on /clusters page -->
<% @clusters.each_with_index do |cluster, index | %>   
      <div class="<%= 'col-sm-offset-3' if index == @clusters.count - 1 && @clusters.count.odd? %> col-sm-6 col-xs-12">
          <%= erb :_node_status, :locals => { :showqer => cluster, :clickable => !GANGLIA_CLUSTERS[cluster.cluster_id].nil? } %>
      </div>
<% end %>
</div>

