<div class="col-sm-6 col-xs-6">
    <%= link_to(oakley_url) do %>
        <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4><strong>Oakley Cluster Status</strong></h4>
            <%= render partial: 'node_status', locals: { showqer: @showqoakley } %>
        </div>
    <% end %>
</div>


<div class="col-sm-6 col-xs-6">
    <%= link_to(ruby_url) do %>
        <div class="panel panel-default bs-callout bs-callout-info text-center panel-clickable">
            <h4><strong>Ruby Cluster Status</strong></h4>
            <%= render partial: 'node_status', locals: { showqer: @showqruby } %>
        </div>
    <% end %>
</div>
